@import "tailwindcss";
@import "tw-animate-css";

@plugin "@tailwindcss/typography";
@plugin "@tailwindcss/forms";

@theme inline {
  --font-sans: var(--font-zaxsans);
  --font-casual: var(--font-zaxcasual);
  --font-serif: var(--font-zaxserif);
  --font-condensed: var(--font-zaxsanssemicondensed);
  --font-mono: var(--font-geist-mono);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);

  --color-Crust: var(--Crust);
  --color-Mantle: var(--Mantle);
  --color-Surface0: var(--Surface0);
  --color-Surface1: var(--Surface1);
  --color-Overlay0: var(--Overlay0);
  --color-Overlay1: var(--Overlay1);
  --color-Overlay2: var(--Overlay2);
  --color-Base: var(--Base);
  --color-Rosewater: var(--Rosewater);
  --color-Flamingo: var(--Flamingo);
  --color-Pink: var(--Pink);
  --color-Mauve: var(--Mauve);
  --color-Red: var(--Red);
  --color-Maroon: var(--Maroon);
  --color-Peach: var(--Peach);
  --color-Yellow: var(--Yellow);
  --color-Green: var(--Green);
  --color-Teal: var(--Teal);
  --color-Sky: var(--Sky);
  --color-Sapphire: var(--Sapphire);
  --color-Blue: var(--Blue);
  --color-Lavender: var(--Lavender);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  /** Sizes **/
  --size-xs: clamp(0.66667rem, 0.6667rem + 0.3182vw, 0.881rem);
  --size-sm: clamp(0.7619rem, 0.7619rem + 0.3182vw, 1rem);
  --size-md: clamp(0.881rem, 1rem + 0.3182vw, 1.3333rem);
  --size-lg: clamp(1.1072rem, 1.3333rem + 0.3182vw, 1.6667rem);
  --size-xl: clamp(1.3333rem, 1.6667rem + 0.3182vw, 2rem);
  --size-2xl: clamp(1.6667rem, 2rem + 0.3182vw, 2.6667rem);
  --size-3xl: clamp(2rem, 2.6667rem + 0.3182vw, 3.3333rem);
  --size-4xl: clamp(2.6667rem, 3.3333rem + 0.3182vw, 4rem);
  --size-5xl: clamp(3.3333rem, 4rem + 0.3182vw, 5rem);
  --size-6xl: clamp(4rem, 5rem + 0.3182vw, 6rem);
  --size-7xl: clamp(5rem, 6rem + 0.3182vw, 7rem);
  --size-8xl: clamp(6rem, 7rem + 0.3182vw, 8rem);
  --size-9xl: clamp(7rem, 8rem + 0.3182vw, 9rem);
  --size-10xl: clamp(8rem, 9rem + 0.3182vw, 10rem);

  /** Spacing **/
  --spacing-xs: var(--size-xs);
  --spacing-sm: var(--size-sm);
  --spacing-md: var(--size-md);
  --spacing-lg: var(--size-lg);
  --spacing-xl: var(--size-xl);
  --spacing-2xl: var(--size-2xl);
  --spacing-3xl: var(--size-3xl);
  --spacing-4xl: var(--size-4xl);
  --spacing-5xl: var(--size-5xl);
  --spacing-6xl: var(--size-6xl);
  --spacing-7xl: var(--size-7xl);
  --spacing-8xl: var(--size-8xl);
  --spacing-9xl: var(--size-9xl);
  --spacing-10xl: var(--size-10xl);

  /** Font Sizes **/
  --font-size-xs: var(--size-xs);
  --font-size-sm: var(--size-sm);
  --font-size-base: var(--size-md);
  --font-size-md: var(--size-md);
  --font-size-lg: var(--size-lg);
  --font-size-xl: var(--size-xl);
  --font-size-2xl: var(--size-2xl);
  --font-size-3xl: var(--size-3xl);
  --font-size-4xl: var(--size-4xl);
  --font-size-5xl: var(--size-5xl);
  --font-size-6xl: var(--size-6xl);
  --font-size-7xl: var(--size-7xl);
  --font-size-8xl: var(--size-8xl);
  --font-size-9xl: var(--size-9xl);
  --font-size-10xl: var(--size-10xl);
}

:root {
  --radius: 0.625rem;

  --Zax-Creme: hsl(33 94% 95%);
  --Zax-Red: hsl(349 98% 45%);
  --Zax-Blue: hsl(215 89% 14%);

  --Rosewater: hsl(10 57% 88%);
  --Flamingo: hsl(0 59% 84%);
  --Pink: hsl(316 73% 84%);
  --Mauve: hsl(277 59% 76%);
  --Red: hsl(359 68% 71%);
  --Maroon: hsl(358 66% 76%);
  --Peach: hsl(20 79% 70%);
  --Yellow: hsl(40 62% 73%);
  --Green: hsl(96 44% 68%);
  --Teal: hsl(172 39% 65%);
  --Sky: hsl(189 48% 73%);
  --Sapphire: hsl(199 55% 69%);
  --Blue: hsl(222 74% 74%);
  --Lavender: hsl(239 66% 84%);
  --Text: hsl(227 70% 87%);
  --Subtext1: hsl(227 44% 80%);
  --Subtext0: hsl(228 29% 73%);
  --Overlay2: hsl(228 22% 66%);
  --Overlay1: hsl(227 17% 58%);
  --Overlay0: hsl(229 13% 52%);
  --Surface2: hsl(228 13% 44%);
  --Surface1: hsl(227 15% 37%);
  --Surface0: hsl(230 16% 30%);
  --Base: hsl(229 19% 23%);
  --Mantle: hsl(231 19% 20%);
  --Crust: hsl(229 20% 17%);
  --White: hsl(0, 0%, 95%);
  --Black: hsl(0, 0%, 5%);

  --background: var(--Mantle);
  --foreground: var(--Text);

  --card: var(--Base);
  --card-foreground: var(--foreground);

  --popover: var(--Base);
  --popover-foreground: var(--foreground);

  --primary: var(--Red);
  --primary-foreground: var(--Crust);

  --secondary: var(--Blue);
  --secondary-foreground: var(--Crust);

  --muted: var(--Surface0);
  --muted-foreground: var(--Overlay0);

  --accent: var(--White);
  --accent-foreground: var(--Crust);

  --outline-foreground: var(--foreground);

  --destructive: var(--Red);

  --border: var(--Surface1);
  --ring: var(--foreground);

  --input: var(--Surface1);

  --chart-1: var(--Blue);
  --chart-2: var(--Green);
  --chart-3: var(--Maroon);
  --chart-4: var(--Rosewater);
  --chart-5: var(--Mauve);

  --sidebar: var(--Base);
  --sidebar-foreground: var(--foreground);
  --sidebar-primary: var(--Zax-Blue);
  --sidebar-primary-foreground: var(--Zax-Creme);
  --sidebar-accent: var(--Zax-Red);
  --sidebar-accent-foreground: var(--Zax-Creme);
  --sidebar-border: var(--Crust);
  --sidebar-ring: var(--Mantle);
}

@custom-variant light (&:where(.light, .light *));

.light {
  --Rosewater: hsl(11 59% 67%);
  --Flamingo: hsl(0 60% 67%);
  --Pink: hsl(316 73% 69%);
  --Mauve: hsl(266 85% 58%);
  --Red: hsl(347 87% 44%);
  --Maroon: hsl(355 76% 59%);
  --Peach: hsl(22 99% 52%);
  --Yellow: hsl(35 77% 49%);
  --Green: hsl(109 58% 40%);
  --Teal: hsl(183 74% 35%);
  --Sky: hsl(197 97% 46%);
  --Sapphire: hsl(189 70% 42%);
  --Blue: hsl(220 91% 54%);
  --Lavender: hsl(231 97% 72%);
  --Text: hsl(234 16% 35%);
  --Subtext1: hsl(233 13% 41%);
  --Subtext0: hsl(233 10% 47%);
  --Overlay2: hsl(232 10% 53%);
  --Overlay1: hsl(231 10% 59%);
  --Overlay0: hsl(228 11% 65%);
  --Surface2: hsl(227 12% 71%);
  --Surface1: hsl(225 14% 77%);
  --Surface0: hsl(223 16% 83%);
  --Base: hsl(220 23% 95%);
  --Mantle: hsl(220 22% 92%);
  --Crust: hsl(220 21% 89%);

  --background: var(--Mantle);
  --foreground: var(--Text);

  --card: var(--Base);
  --card-foreground: var(--foreground);

  --popover: var(--Base);
  --popover-foreground: var(--foreground);

  --muted-foreground: var(--Overlay0);

  --destructive: var(--Red);

  --border: var(--Surface1);
  --ring: var(--foreground);

  --input: var(--Surface1);

  --chart-1: var(--Blue);
  --chart-2: var(--Green);
  --chart-3: var(--Maroon);
  --chart-4: var(--Rosewater);
  --chart-5: var(--Mauve);
}

@layer base {
  *,
  *:before,
  *:after {
    @apply antialiased;
  }

  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground font-sans;
  }

  .title {
    @apply text-7xl;
  }

  .subtitle {
    @apply text-6xl text-foreground/80;
  }

  h1 {
    @apply text-5xl;
  }

  h2 {
    @apply text-4xl;
  }

  h3 {
    @apply text-3xl;
  }

  h4 {
    @apply text-2xl;
  }

  h5 {
    @apply text-xl;
  }

  h6 {
    @apply text-lg;
  }

  p {
    @apply text-base;
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }

  .text-shadow-huge {
    text-shadow: 0 0.5em 1.25em var(--tw-text-shadow-color);
  }
}
